body{
    /* background-image: linear-gradient(-95deg,blueviolet,rgb(223, 225, 243)); */
    background-image:url(fondo.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    background-attachment: scroll;
    /* background-position: center; */
    
}
.centrado{
    text-align: center;
}
#title{
    padding-left:5px ;
    display: block;
    width: 105px;
    box-shadow: 1px 1px 2px rgba(0,0,0,4);
    background-color: rgba(164, 197, 204, 0.829);
    border-radius: 8px;
    margin-inline: auto;
}
.lucide-user-circle{
    display: block;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    padding-right: 10px;
}
#opciones_de_sesion{
    display: block;
    font-style: normal;
    text-align: center;
    list-style-type: none;
    margin-inline: auto;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 500px;
    box-shadow: 1px 1px 2px rgba(0,0,0,1);
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.795);
}
#opciones_de_sesion li{
    text-align: center;
    padding-bottom: 8px;
    margin: 0 .75rem;  
}
#opciones_de_sesion span{
    border: ridge ;
    border-width: 5px;
    padding: 4px;
}

#editar{
    text-decoration: none;
    display: block;
    border: double rgba(84, 90, 90, 0.7);
    border-radius: 5px;
    padding: 4px;
    margin-top: 4px;
    width: 40px;
}
#editar:hover{
    padding: auto ;
    display: block;
    width: 40px;
    transition: 0.4s;
    box-shadow: 1px 1px 2px rgba(0,0,0,1);
    background-color: rgba(164, 197, 204, 0.829);

}
.content{
    padding-left: 20px;
    display: block;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 598px;
    box-shadow: 1px 1px 2px rgba(0,0,0,1);
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.795);
    margin-inline: auto;
}


.eliminar{
    margin-top: 6px;
}

.eliminar:hover{
    background-color: rgba(255, 0, 0, 0.597);
    transition: 0.4s;
    box-shadow: 1px 1px 2px rgba(0,0,0,1);
    

}

.button:hover {
    background-color: rgb(148, 255, 127);
    transition: 0.4s;
    box-shadow: 1px 1px 2px rgba(0,0,0,1);
}

